<!-- Header-->
<header class="masthead3 d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Desplace hacia abajo para diligenciar el formulario de Registro</h1>
        <h3 class="mb-5">o has click aqui para Continuar:</h3>
        <a class="boton_form" href=#about>ir al Formulario</a>
    </div>
</header>
<!-- About-->
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5">
              <h2>Formulario de Registro de Usuario</h2>
              <p><%=render 'layouts/texto_form'%></p>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <label for="">Primer nombre</label>
                      <%= f.input :primer_nombre,
                      autofocus: true,
                      label:false,
                        input_html: {class: "form-control"  } %>
                    </div>
                    <div class="col-md-6 mb-4">
                      <label for="">Segundo nombre (si aplica)</label>
                      <%= f.input :segundo_nombre,
                      autofocus: true,
                      label: false,
                      input_html: {class: "form-control"  } %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <label for="">Primer apellido</label>
                      <%= f.input :primer_apellido,
                      autofocus: true,
                      label: false,
                        input_html: {class: "form-control"  } %>
                    </div>
                      <div class="col-md-6 mb-4">
                        <label for="">Segundo apellido</label>
                        <%= f.input :segundo_apellido,
                        autofocus: true,
                        label: false,
                            input_html: {class: "form-control"  } %>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <label for="">Tipo de documento</label>
                      <%= f.association :tipo_documento,
                      autofocus: true,
                      label:false,
                        label_method: :nombre,
                      include_blank: "Seleccione una opcion",
                      input_html: {class: "form-select"  } %>
                    </div>
                    <div class="col-md-6 mb-4">
                      <label for="">Documento de Identidad</label>
                      <%= f.input :documento,
                      autofocus: true,
                      label: false,
                      input_html: {class: "form-control"  } %>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="">Fecha de nacimiento</label>
                    <%= f.date_field :fecha_de_nacimiento,
                    class: "form-control" %>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="">Edad</label>
                      <%= f.input :edad,
                      label: false,
                        input_html: {class: "form-control" } %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="">Genero</label>
                     <%= f.association :genero,
                      label_method: :nombre,
                      include_blank: "Seleccione una opcion",
                      label: false,
                        input_html: {class: "form-select"} %>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="">Unidad académica (Escuela, Area)</label>
                      <%= f.input :unidad_academica,
                      label: false,
                        input_html: {class: "form-control" } %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="">Nivel de estudios postgradual al que aspira</label>
                      <%= f.association :nivel_postgrado,
                      include_blank: "Seleccione una opcion",
                      label: false,
                        label_method: :nombre,
                      input_html: {class: "form-select" } %>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="">Programa academico</label>
                      <%= f.input :programa_academico,
                      label: false,
                        input_html: {class: "form-control" } %>
                  </div>
                </div>
                 <div class="row">
                   <div class="col-md-6 mb-4">
                     <label for="">Universidad</label>
                       <%= f.input :universidad,
                       label: false,
                          input_html: {class: "form-control" } %>
                   </div>
                   <div class="col-md-6 mb-4">
                       <label for="">Pais</label>
                       <%= f.input :pais,
                       autofocus: true,
                       label:false,
                          input_html: {class: "form-control"  } %>
                  </div>
                 </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="">Nivel de ingles</label>
                    <%= f.association :nivel_ingles,
                    label: false,
                    label_method: :nombre,
                    include_blank: "Seleccione una opcion",
                    autofocus: true,
                    input_html: {class: "form-select" } %>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="">Correo electrónico</label>
                    <%= f.input :email,
                    label: false,
                    autofocus: true,
                    autocomplete: "email",
                    input_html: {class: "form-control" } %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="">Contraseña</label>
                    <%= f.input :password,
                    autocomplete: "new-password",
                    label: false,
                    placeholder: "Minimo 6 caracteres",
                    input_html: {class: "form-control" } %>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="">Confirme contraseña</label>
                    <%= f.input :password_confirmation,
                    autocomplete: "new-password",
                    label: false,
                    input_html: {class: "form-control" } %>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <label for="">Historial academico</label>
                      <%= f.input :historial_academico,
                      label: false,
                        input_html: {class: "form-control"} %>
                      <p><%=render 'layouts/historial_academico'%></p>
                    </div>
                    <div class="col-md-6 mb-4">
                      <label for="">Certificado de nivel de ingles</label>
                      <%= f.input :certificado_ingles,
                      label: false,
                        input_html: {class: "form-control"} %>
                      <p><%=render 'layouts/certificado_ingles'%></p>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="">Declaracion de no titularidad</label>
                    <%= f.input :declaracion,
                    label: false,
                    input_html: {class: "form-control"} %>
                    <p><%=render 'layouts/declaracion'%></p>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="">Proyecto de investigacion</label>
                    <%= f.input :proyecto,
                    label: false,
                    input_html: {class: "form-control"} %>
                    <p><%=render 'layouts/proyecto'%></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="">Ensayo motivacional</label>
                    <%= f.input :ensayo,
                    label: false,
                    input_html: {class: "form-control"} %>
                    <p><%=render 'layouts/ensayo'%></p>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label for="">Certificado de admision a postgrado</label>
                    <%= f.input :certificado_admision,
                    label: false,
                    input_html: {class: "form-control"} %>
                    <p><%=render 'layouts/certificado_admision'%></p>
                  </div>
                </div>
                <div class="row">
                     <%= f.submit "Registrar",
                     class: "btn btn-success btn-block" %>
                </div>
              <% end %>
        </div>
</section>
