<%= render 'layouts/sidebar' %>
<header class="masthead2 d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">mis datos de usuario:</h1>
<div class="row">
  <div class="w-100">
    <div class="ibox-content d-flex justify-content-between">
      <!-- datos academicos -->
      <div class="col-md-12 d-flex justify-content-center flex-wrap p-3">
      <!-- otros datos del parendiz -->
      <div class="col-md-12 d-flex flex-wrap align-content-center">
        <table class="table-bordered border-primary">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Edad</th>
        <th scope="col">Genero</th>
        <th scope="col">Correo</th>
        <th scope="col">Unidad Académica</th>
        <th scope="col">nivel Postgradual</th>
        <th scope="col">Pais</th>
        <th scope="col">Programa Académico</th>
        <th scope="col">Nivel de Ingles</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%=current_user.id%></th>
        <td><%=current_user.primer_nombre%> <%=current_user.segundo_nombre%></td>
        <td><%=current_user.primer_apellido%> <%=current_user.segundo_apellido%></td>
        <td><%=current_user.fecha_de_nacimiento%></td>
        <td><%=current_user.edad%></td>

        <% if current_user.genero.blank? %>
        <td>nulo</td>
        <%else%>
        <td><%=current_user.genero.nombre%></td>
        <%end%>

        <td><%=current_user.email%></td>
        <td><%=current_user.unidad_academica%></td>

        <% if current_user.nivel_postgrado.blank? %>
        <td>nulo</td>
        <%else%>
        <td><%=current_user.nivel_postgrado.nombre%></td>
        <%end%>

        <% if current_user.pais.blank? %>
        <td>nulo</td>
        <%else%>
        <td><%=current_user.pais%></td>
        <%end%>

        <% if current_user.programa_academico.blank? %>
        <td>nulo</td>
        <%else%>
        <td><%=current_user.programa_academico%></td>
        <%end%>

        <td><%=current_user.nivel_ingles.nombre%></td>

      </tr>
      <tr>
    </tbody>
  </table>
    </div>
  </div>
</div>
    </div>
</header>
